<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
   
<hibernate-configuration>  
      
    <session-factory>  
        <property name ="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name = "connection.url">jdbc:mysql://localhost/vehicle_loan</property>  
        <property name = "connection.username">root</property>  
        <property name = "connection.password">manmadhan</property>  
        <property name = "connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name = "show_sql">true</property>
        <mapping class = "model.Address"/>  
        <mapping class = "model.EligibilityDetail"/>  
        <mapping class = "model.Loan"/>  
        <mapping class = "model.LoanDetail"/>  
        <mapping class = "model.Payment"/>  
        <mapping class = "model.Role"/>  
        <mapping class = "model.User"/>  
        <mapping class = "model.Vehicle"/>  
        <mapping class = "model.VehicleModel"/>       
    </session-factory>  
      
</hibernate-configuration>  
